@model VendingMachine.Web.Models.VendingMachineData

@{
    ViewData["Title"] = "Vending machine";
}

<div class="container">
    <h1>Vending machine</h1>
    <br />
    <h3>Deposit:</h3><h3 id="depositAmount">@Model.Deposit</h3>
    <div class="container">
        <div class="row">
            <div id="qty">
                @foreach (var d in Model.Denominations)
                {
                    <input class="form-control" type="text" value="@d.Value" hidden id="coin">

                    <button type="button" class="btn btn-warning denomination" id="@d.Value">@d.DiplayName</button>
                }

                <a class="btn btn-sm" href="#" role="button" id="minus"> - </a>
                <input type="text" value="1" readonly id="coinsCount" style="width:30px">
                <a class="btn btn-sm" href="#" role="button" id="plus"> + </a>

                <button class="btn btn-danger" id="returnCoins">Take back</button>
            </div>
        </div>
    </div>
    <div>
        <br />
        <br />
    </div>
    <h3>Buy product</h3>
    <div class="row">
        <div>
            @foreach (var product in Model.Products)
            {
                <input type="text" src="..." value="@product.Name" hidden>
                <button style="margin: 10px" class="btn btn-outline-primary btn-lg purchase" id="@product.Name">@product.DisplayName (@product.Price)</button>
            }
        </div>
    </div>
    <br />
    <h3><span style="color: darkred" id="errorMessage" hidden /></h3>
    <h3><span style="color: forestgreen" id="changeMessage" hidden /></h3>
</div>
